button {
  margin: 4px;
}

:host {
  display: inline-block;

  @media (max-width: 768px) {
    button {
      font-size: 0.8rem;
      padding: 6px 10px;
    }
  }

  @media (min-width: 769px) and (max-width: 1200px) {
    button {
      font-size: 0.9rem;
      padding: 8px 14px;
    }
  }

  @media (min-width: 1201px) {
    button {
      font-size: 1rem;
      padding: 10px 16px;
    }
  }
}



