@use '@angular/material' as mat;

.primary{
  @include mat.fab-overrides((
    container-color: var(--mat-sys-primary),
    foreground-color: var( --mat-sys-on-primary),
    
  ));

  @include mat.icon-button-overrides((
    icon-color: var(--mat-sys-primary)
    
  ));

  
}
.secondary{
  @include mat.fab-overrides((
    container-color: var(--mat-sys-secondary),
    foreground-color: var( --mat-sys-on-primary),
  ));


}

.info{
  @include mat.fab-overrides((
    container-color: var(--mat-sys-tertiary),
    foreground-color: var( --mat-sys-on-primary),
  ));
}

.warning{
  @include mat.fab-overrides((
    container-color: var(--mat-sys-error),
    foreground-color: var( --mat-sys-on-primary),
  ));
}


button {
  margin: 4px;
}





